@model IEnumerable<Banking.Models.LoanAccount>

@{
    ViewData["Title"] = "Index";
}

<h1>My Loan Accounts</h1>

<p>
    <a asp-action="Create">Create Loan Account</a>
</p>
<table class="table table-hover">
    <thead>
        <tr class="table-primary">

            <th>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOpen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterestRate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsOpen)
                @{
                    if (item.IsOpen)
                    {
                        <span>Open</span>
                    }
                    else
                    {
                        <span>Closed</span>
                    }
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterestRate)
            </td>
            <td>
                <a asp-action="DirectDeposit" asp-route-id="@item.Id">Direct Payment</a> |
                <a asp-action="AccountTransactions" asp-route-id="@item.Id">Transactions</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Close Account</a>
            </td>
        </tr>
}
    </tbody>
</table>
