@model Banking.Models.CDAccounts

@{
    ViewData["Title"] = "Delete";
}

<h1>Close CD Account</h1>

<h3>Are you sure you want to Close this CD Account?</h3>
@{
    int num = DateTime.Compare(DateTime.Today, Model.MaturityDate);
    if (num < 0)
    {
        <h4 style="color:red">Can only close account after Maturity Date is reached</h4>
    }
    else if (Model.Balance > 0)
    {
        <h4 style="color:red">In order to close account balance must be $0.00</h4>
    }
    else if (Model.IsOpen == false)
    {
        <h4 style="color:red">Account has already been closed</h4>
    }
}

<div>
    <h4>CD Account Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Balance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsOpen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsOpen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InterestRate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InterestRate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaturityDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaturityDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger"
               @{ if (Model.Balance > 0 || Model.IsOpen == false || num < 0) { @: disabled="disabled"
               } } /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
